<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Safari iOS - apps only -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Chrome for Android - NEW! -->
    <meta name="mobile-web-app-capable" content="yes">
    @{import('favicon.ico')}

    <title>Harta furnizorilor de servicii sociale</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap-map-js -->
    @{css('style.css','bootstrapmap.css','leaflet.css')}

    <style type="text/css">

      html, body, #mapDiv {
        height: 100%;        
      }

    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bootstrap_v3/docs-assets/js/html5shiv.js"></script>
      <script src="../bootstrap_v3/docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      @{body}
    </div>

    <!-- Bootstrap-map-js -->
    <div id="mapDiv"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    @{js('leaflet.js')}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.0.0/leaflet.ajax.min.js"></script>
    <script type="text/javascript">var providers = '@{model.providers}'</script>
    @{js('default.js')}
  </body>
</html>